/* Name : Jasmeen kaur 
Date : June 19, 2025
File : style 2 (for part 2, assignment 3 )
description : this gives style to web page */
html {
  font-family: sans-serif;
}

/*A reasonable width for a large box, say around 200 pixels.*/
div{
   /* A reasonable width for a large box, say around 200 pixels.*/
   width: 200px;
   /*A reasonable height for a large box, centering the text vertically in the process.*/
   height:100px ;
  /* Center the box horizontally.*/
  margin: 50px auto;
  /*Center the text within the box.*/
  justify-content: center;
  text-align: center;
 /* A slight increase in font size, to around 17-18 pixel computed style. Use rems. Write a comment about how you worked out the value.*/
 /*16px= 1rem 
 17.6px=1.1rem*/
 font-size: 1.1rem;
 /*A contrasting color for the text and a black text shadow.*/
 color: white;
 text-shadow: 1px 1px 2px black;
 font-weight: bold;
}