/* Name : Jasmeen kaur 
Date : June 19, 2025
File : style 2 (for part 2, assignment 3 )
description : this gives style to web page */
html {
  font-family: sans-serif;
}

/*A reasonable width for a large box, say around 200 pixels.*/
div{
   /* A reasonable width for a large box, say around 200 pixels.*/
   width: 200px;
   /*A reasonable height for a large box, centering the text vertically in the process.*/
   height:100px ;
  /* Center the box horizontally.*/
  margin: 50px auto;
  /*Center the text within the box.*/
  justify-content: center;
}